.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.workspace {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  overflow: hidden;
}
